Package            Version  
------------------ ---------
appdirs            1.4.4    
buildozer          1.2.0    
certifi            2021.10.8
charset-normalizer 2.0.12   
colorama           0.4.4    
Cython             0.29.28  
distlib            0.3.4    
filelock           3.6.0    
filetype           1.0.10   
gitdb              4.0.9    
idna               3.3      
importlib-metadata 4.11.1   
Jinja2             3.0.3    
MarkupSafe         2.1.0    
natsort            8.1.0    
parso              0.8.3    
pep517             0.6.0    
pexpect            4.8.0    
pip                18.1     
pkg-resources      0.0.0    
platformdirs       2.5.1    
ptyprocess         0.7.0    
pytoml             0.1.21   
requests           2.27.1   
setuptools         40.8.0   
sh                 1.14.2   
six                1.16.0   
smmap              5.0.0    
toml               0.10.2   
typing-extensions  4.1.1    
urllib3            1.26.8   
virtualenv         20.13.1  
zipp               3.7.0    
